includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpat/phpat/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: .phpstan.cache

services:
    -
        class: VendingMachine\Tests\Architecture\ArchitectureTest
        tags:
            - phpat.test
